.scroll-to-top
    pointer()
    noDisplay()
    position(fixed, false, 0px)
    background url(../images/layout/scroll-to-top.png) no-repeat
    bottom 20px
    height 55px
    padding-right 1em
    width 55px
    z-index 9999

.footer
    p
        color almostLightGray
        font-family Arial, serif
        font-size 0.95em
        margin-bottom 10px
        text-align center
