<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>StudioVictory</title>
    </head>

    <body>
        <div class="container">
            {{{ body }}}
        </div>
    </body>
</html>
