body
    font('PT Serif', 1em)

.no-display
    display none

.clear
    clear both

.btn
    borderRadius(5px)
    color grayColor(10)
    display inline-block
    font-size .875rem
    padding 10px

#editor
    width 90%
    min-height 280px
    margin-left 5%

