/* Vendors Prefixes */
vendor-prefixes = o ms moz webkit khtml official

/* General Colors */
graysColors = (#010 #111 #222 #333 #444 #555 #666 #777 #888 #999 #AAA #BBB #CCC #DDD #EEE)
white       = #FFF
darkWhite   = #FEFEFE
almostWhite = #F5F5F5
black       = #000
darkBlue    = #069

/* Dashboard colors */
blueLink = #06F

/* Site */
blueFacebook        = #3B5999
blueBorderFacebook  = #193777
blueTwitter         = #60A9DE
blueBorderTwitter   = #3E87BC
blueLinkedin        = #678BD5
blueBorderLinkedin  = #1D4D78
redGooglePlus       = #DE4B39
redBorderGooglePlus = #B43525
redYoutube          = #ED4632
grayGithub          = #2E3436
grayBorderGithub    = #0C1214

yellowStar         = #f1c40f
orangeBorderStar   = #e67e22

/* Logo & menu options */
grayWhite        = #F5F5F5
blueCodejobs     = #0073BC
darkBlueCodejobs = #004C88
grayCodejobs     = #6B6B6B

/* Syntax */
darkGraySyntaxBg  = #262720
blueSyntax        = #00D6FF
pinkSyntax        = #F92772
seaBlueSyntax     = #0099F5
orangeSyntax      = #FFA337
graySyntax        = #7B959E
redSyntax         = #8D0014
purpleSyntax      = #AE81FF
greenSyntax       = #8CBC2B
lightYellowSyntax = #FFFFE3
yellowSyntax      = #FFF8AB

/* Technologies */
blueCSS3          = #1CA8E2
blueDocker        = #007DA6
blueVagrant       = #1475AC
brownMongo        = #553924
grayExpress       = #666666
greenNode         = #569D00
orangeHTML5       = #D14119
purpleBootstrap   = #55284A
purplePHP         = #455792
redAngular        = #CB0323
yellowGrunt       = #DD8D00
yellowJS          = #DFB300
yellowSublime     = #EA8B0F
azureEntrepreneur = #00A0AA
greenGames        = #2F5500
blueTesting       = #24B9F9
blueWordpress     = #1A759D

/* Buttons */
defaultBg             = #E6E6E6
defaultBorder         = #ADADAD
primaryBg             = #428BCA
primaryBorder         = #357EBD
primaryBgHover        = #3071A9
primaryBorderHover    = #285E8E
sucessBg              = #5CB85C
sucessBorder          = #27763A
sucessBgHover         = #449D44
sucessBorderHover     = #398439
infoBg                = #3498DB
infoBorder            = #17374D
infoBgHover           = #1C7DC3
infoBorderHover       = #3B68A9
infoDisabledBg        = #5BC0DE
infoDisabledBorder    = #46B8DA
warningBg             = #F0AD4E
warningBorder         = #EEA236
warningBgHover        = #EC971F
warningBorderHover    = #D58512
warningDisabledBg     = #F0AD4E
warningDisabledBorder = #EEA236
dangerBg              = #DA4D49
dangerBorder          = #762727
dangerBgHover         = #C9302C
dangerBorderHover     = #AC2925
dangerDisabledBg      = #D9534F
dangerDisabledBorder  = #D43F3A
redPink               = #e06161

/* Font weights */
fontWeightLighter = 100
fontWeightLight   = 300
fontWeightNormal  = 400
fontWeightRegular = 500
fontWeightBold    = 700
fontWeightHeavy   = 900

/* Mediaqueries */
iPadW =  768px
iPadH = 1024px
iP4W  =  320px
iP4H  =  480px
iP5W  =  320px
iP5H  =  568px
iP6W  =  375px
iP6H  =  667px
iP6PW =  414px
iP6PH =  736px
gW    =  360px
gH    =  640px
all   = 1023px

s    = 'only screen and'
l    = 'orientation: landscape'
maxW = 'max-device-width:'
minW = 'min-device-width:'

/* Devices */
anyDevice          = s + ' (' + maxW + all   + ')'
anyDeviceLandscape = s + ' (' + maxW + all   + ') and (' + l  + ')'
galaxy             = s + ' (' + minW + gW  + ') and (' + maxW + gH  + ')'
galaxyLandscape    = s + ' (' + minW + gW  + ') and (' + maxW + gH  + ') and (' + l + ')'
iPad               = s + ' (' + minW + iPadW + ') and (' + maxW + iPadH + ')'
iPadLandscape      = s + ' (' + minW + iPadW + ') and (' + maxW + iPadH + ') and (' + l + ')'
iPhone6P           = s + ' (' + minW + iP4W  + ') and (' + maxW + iP4H  + ')'
iPhone6PLandscape  = s + ' (' + minW + iP6PW + ') and (' + maxW + iP6PH + ') and (' + l + ')'
iPhone6            = s + ' (' + minW + iP6W  + ') and (' + maxW + iP6H  + ')'
iPhone6Landscape   = s + ' (' + minW + iP6W  + ') and (' + maxW + iP6H  + ') and (' + l + ')'
iPhone5            = s + ' (' + minW + iP5W  + ') and (' + maxW + iP5H  + ')'
iPhone5Landscape   = s + ' (' + minW + iP5W  + ') and (' + maxW + iP5H  + ') and (' + l + ')'
iPhone4            = s + ' (' + minW + iP4W  + ') and (' + maxW + iP4H  + ')'
iPhone4Landscape   = s + ' (' + minW + iP4W  + ') and (' + maxW + iP4H  + ') and (' + l + ')'
