@import url('http://fonts.googleapis.com/css?family=PT+Serif')
@import url('../bower_components/normalize-css/normalize.css')
@import url('../bower_components/font-awesome/css/font-awesome.min.css')

@import '_variables'
@import 'mixins/_default'
@import 'mixins/_studiovictory'

@import '_global'

@import 'site/_header'

@import 'blog/_posts'

@import 'site/_pagination'

@import 'site/_footer'

@import 'mediaqueries/desktop'
